.loginForm {
    position: relative;
    width: 350px;
    margin: 0 auto;
    top: 10em;
}

.navbar {
    margin-bottom: 0px!important;
}

.homepageCenterContainer {
    width: 100%;
    height: 25em;
    background: gray;
}

.jumbotronContent {
    position: relative;
    width: 40em;
    height: 17em;
    top: 4em;
    left: 10em;
    background: navy;
}

.statisticsContainer {
    background: gainsboro;
    width: 100%;
    height: 5em;
}

.statistics {
    padding: 2em;
}

.footer {
    width: 100%;
    height: 10em;
    background: lightgrey;
}

.map {
    width: 100%;
    height: 20em;
    background: green
}